{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block body %}
    {# <div class="text-center m-5">
        <h1>Hello {{ user.username }}!</h1>
    </div>
    <div class="text-center">
        Your old password :
        <p class="text-primary">
            <label for="old-password">Old password</label>
            <input type="password" id="old-password" name="old-password" required>
        </p>
    </div>
    <div class="text-center">
        Your new password :
        <p class="text-primary">
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" name="new-password" required>
        </p>
    </div>
    <div class="text-center">
        Confirmation new password :
        <p class="text-primary">
            <label for="confirm-new-password">Confirm new password</label>
            <input type="password" id="confirm-new-password" name="confirm-new-password" required>
        </p>
    </div>
    <div class="text-center">
        <a type="button" class="btn btn-success" href="{{ path('app_profil_editpassword') }}">Confirm your new password</a>
    </div> #}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success">Save</button>
    {{ form_end(form) }}
{% endblock %}