
{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block body %}
    <div class="text-center m-5">
        <h1>Hello {{ user.username }}!</h1>
    </div>
    <div class="text-center">
        Your username :
        <p class="text-primary">
            {{user.username}}
        </p>
    </div>
    <div class="text-center">
        Your email :
        <p class="text-primary">
            {{user.email}}
        </p>
    </div>
    <div class="text-center">
        Your roles :
        <p class="text-primary">
            {{roles}}
        </p>
    </div>
    <div class="text-center">
        <a type="button" class="btn btn-primary" href="{{ path('app_profil_editpassword') }}">Change your password</a>
    </div>
{% endblock %}
